.container {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

.page-title {
  color: #495057;
  margin-bottom: 0.5rem;
}

.page-subtitle {
  color: #6c757d;
  font-size: 0.9rem;
  display: block;
  margin-bottom: 2rem;
}

.layout {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 2rem;
}

.sidebar {
  padding: 1rem 0 1.5rem 0;
}

.flag-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.flag-img {
  width: 30px;
  height: 20px;
}

.currency-code {
  color: #64748b;
  font-size: 0.8rem;
}

.status-icon {
  color: #00b200;
}

.maps-icon {
  color: #586af5;
  cursor: pointer;
}

.country-name {
  white-space: normal;
  word-wrap: break-word;
}

.column-header-m {
  width: 25%;
}

.column-header-s {
  width: 12.5%;
}

.divider {
  height: 1px;
  background-color: #e0e0e0;
  margin: 20px 0;
}
