<div class="container">
  <h1 class="page-title">Countries & Currencies</h1>
  <p class="page-subtitle">You can easily manage your countries on this page</p>
  <div class="divider"></div>
  <div class="layout">
    <div class="sidebar">
      <h3>Countries</h3>
      <p class="page-subtitle">Manage your countries in this project</p>
      <button pButton class="p-button-primary add-country-btn">
        Add a country
      </button>
    </div>

    <div class="main-content">
      <p-table
        [value]="countries"
        [tableStyle]="{ 'min-width': '50rem' }"
        [rowsPerPageOptions]="[5, 10, 20]"
        [paginator]="true"
        [rows]="10"
      >
        <ng-template pTemplate="header">
          <tr>
            <th class="column-header-m" pSortableColumn="name">Country</th>
            <th class="column-header-m" pSortableColumn="population">
              Population
            </th>
            <th class="column-header-m" pSortableColumn="continent">
              Continent
            </th>
            <th class="column-header-s">Status</th>
            <th class="column-header-s">Maps</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-country>
          <tr>
            <td class="country-name">
              <div class="flag-container">
                <img
                  [src]="country.flag"
                  [alt]="country.name"
                  class="flag-img"
                />
                <div>
                  <div>{{ country.name }}</div>
                  <div class="currency-code">{{ country.currencyCode }}</div>
                </div>
              </div>
            </td>
            <td class="text-right">{{ country.population }}</td>
            <td>{{ country.continent }}</td>
            <td>
              <i
                class="pi pi-check-circle status-icon"
                *ngIf="country.active"
              ></i>
            </td>
            <td>
              <a [href]="country.mapsUrl" target="_blank">
                <i class="pi pi-globe maps-icon"></i>
              </a>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>

  <div class="divider"></div>
</div>
